#dg
{
    display: none;
    background-color: transparent;
}

    #dg > li
    {
        position: relative;
        height: 35px;
        line-height: 35px;
        background-color: white;
    }

li.header-left
{
    margin-left: 4px;
    -webkit-box-align: start;
}

li.header-right
{
    margin-right: 4px;
    -webkit-box-align: end;
}

.ui-menu-footer
{
    width: 100%;
    height: 45px;
    top: 200px;
    position: absolute;
    background-color: #ccc;
}

.ui-btn-menu-sure
{
    float: left;
    left: 40px;
    top: 8px;
    width: 80px;
}

.ui-btn-menu-clear
{
    float: right;
    right: 40px;
    top: 8px;
    width: 80px;
}

.ui-header-menu
{
    position: fixed;
    height: 45px;
    top: 45px;
    color: #222;
    background-color: #fff;
}

.ui-menu
{
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: inline-block;
    position: absolute;
    width: 50%;
}

    .ui-menu li
    {
        margin-left: 0;
        padding-left: 10px;
        border-width: 0;
        border-bottom: 1px solid #e0e0e0;
    }


.ui-header-menu li
{
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e0e0e0;
    background-color: #fff;
}

.ui-list-radio
{
    display: none;
    position: fixed;
    top: 40px;
}

.ui-radio
{
    width: 100%;
    display: block;
}

.hw-btn-delete
{
    width: 75px;
    display: inline;
    position: absolute;
    background-color: red;
    color: white;
    text-align: center;
    z-index: -1;
}

.hw-btn-edit
{
    width: 75px;
    display: inline;
    position: absolute;
    background-color: #18b4ed;
    color: white;
    text-align: center;
    z-index: -1;
}

.item
{
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border-width: 1px;
    border-style: solid;
    font-weight: 400;
    border-radius: 5px;
}

    .item input
    {
        height: 30px;
        vertical-align: middle;
        padding-left: 5px;
        padding-right: 24px;
        line-height: 16px;
    }

.item-input input
{
    -webkit-box-flex: 1;
    flex: 1 220px;
    padding-right: 24px;
    background-color: transparent;
    outline-offset: 0;
    outline-style: none;
    outline-width: 0;
    -webkit-font-smoothing: inherit;
    background-image: none;
    border: 0;
}

.ui-footer
{
    height: 45px;
}

.button.button-positive
{
    border-color: #0c60ee;
    background-color: #387ef5;
    color: #fff;
}

.button
{
    border-color: #b2b2b2;
    background-color: #f4f4f4;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}

.ui-btn-lg
{
    font-size: 16px;
    line-height: 16px;
    height: 30px;
    border-radius: 2px;
}

button, input, select, textarea
{
    font-family: "Helvetica Neue",Roboto,"Segoe UI",sans-serif;
}

.button.disabled, .button[disabled]
{
    opacity: .4;
    cursor: default!important;
    pointer-events: none;
}

.button.button-block
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding
{
    padding: 10px;
}

/* 底部按钮组样式 */
.ui-btn-group .ui-btn-lg
{
    font-size: 14px;
    width: 20%;
}

.ui-dialog-bd
{
    text-align: center;
}


.ui-dropmenu
{
    position: absolute;
    display: none;
    -webkit-user-select: none;
    -webkit-box-sizing: border-box;
    z-index: 10;
}

    .ui-dropmenu.ui-in
    {
        display: block;
    }

.ui-dropmenu-items, .ui-dropmenu-items > li
{
    list-style: none;
    white-space: nowrap; /*内容不换行*/
}

.ui-dropmenu
{
    color: #222;
    background-color: #e5e5e5;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    min-width: 160px;
}

.ui-dropmenu-items > li
{
    line-height: 20px;
    display: list-item;
}

    .ui-dropmenu-items > li > a
    {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: #333;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-dropmenu-items > li.ui-state-hover > a, .ui-dropmenu-items > li.ui-state-active > a
    {
        color: #fff;
        text-decoration: none;
        background-color: #0081c2;
        background-image: -webkit-linear-gradient(top,#08c,#0077b3);
        background-repeat: repeat-x;
    }

.ui-dropmenu-items .divider
{
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
}

.ui-dropmenu-items > li .ui-icon
{
    position: relative;
    vertical-align: top;
    left: -5px;
    top: 1px;
}

.ui-dropmenu-items > li.ui-state-active .ui-icon, .ui-dropmenu-items > li.ui-state-hover .ui-icon
{
    background-image: url("../../icons-36-white.png");
}

/* ---------------------------------------
 * 剪头位置
 * ---------------------------------------*/

.ui-dropmenu .ui-arrow, .ui-dropmenu .ui-arrow:after
{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
}

    .ui-dropmenu .ui-arrow:after
    {
        border-width: 10px;
        content: '';
    }

/* 剪头的默认位置 */
.ui-dropmenu.ui-pos-default
{
    margin-top: 10px;
}

    .ui-dropmenu.ui-pos-default .ui-arrow
    {
        left: 30px;
        margin-left: -11px;
        top: -11px;
        border-top-width: 0;
        border-bottom-color: rgba(0, 0, 0, 0.2);
    }

        .ui-dropmenu.ui-pos-default .ui-arrow:after
        {
            border-top-width: 0;
            border-bottom-color: white;
            margin-left: -10px;
            top: 1px;
        }

.ui-dropmenu.ui-pos-bottom-left .ui-arrow,
.ui-dropmenu.ui-pos-bottom-center .ui-arrow,
.ui-dropmenu.ui-pos-bottom-right .ui-arrow
{
    top: -11px;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

    .ui-dropmenu.ui-pos-bottom-left .ui-arrow:after,
    .ui-dropmenu.ui-pos-bottom-center .ui-arrow:after,
    .ui-dropmenu.ui-pos-bottom-right .ui-arrow:after
    {
        border-top-width: 0;
        border-bottom-color: #e5e5e5;
        margin-left: -10px;
        top: 1px;
    }

.ui-dropmenu.ui-pos-bottom-left .ui-arrow
{
    left: 20%;
}

.ui-dropmenu.ui-pos-bottom-center .ui-arrow
{
    left: 50%;
}

.ui-dropmenu.ui-pos-bottom-right .ui-arrow
{
    left: 80%;
}

.ui-dropmenu.ui-pos-top-left .ui-arrow,
.ui-dropmenu.ui-pos-top-center .ui-arrow,
.ui-dropmenu.ui-pos-top-right .ui-arrow
{
    bottom: -11px;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.2);
}

    .ui-dropmenu.ui-pos-top-left .ui-arrow:after,
    .ui-dropmenu.ui-pos-top-center .ui-arrow:after,
    .ui-dropmenu.ui-pos-top-right .ui-arrow:after
    {
        border-bottom-width: 0;
        border-top-color: white;
        margin-left: -10px;
        bottom: 1px;
    }

.ui-dropmenu.ui-pos-top-left .ui-arrow
{
    left: 20%;
}

.ui-dropmenu.ui-pos-top-center .ui-arrow
{
    left: 50%;
}

.ui-dropmenu.ui-pos-top-right .ui-arrow
{
    left: 80%;
}

.ui-selected
{
    color: #eee;
    background-color: #333;
}

/* ---------------------------------------
 * 垂直排列
 * ---------------------------------------*/

.ui-dropmenu.ui-horizontal
{
    min-width: 50px;
}

.ui-dropmenu .ui-dropmenu-items > li
{
    padding: 8px 0 8px 15px;
    margin-right: 8px;
}

.ui-dropmenu.ui-horizontal .ui-dropmenu-items > li.divider:after
{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 30px;
    top: -15px;
    background-color: #e5e5e5;
    border-right: 1px solid #fff;
}

.ui-dropmenu.ui-horizontal .ui-dropmenu-items > li > a
{
    width: 30px;
    height: 30px;
    padding: 0;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
}

.ui-dropmenu.ui-horizontal .ui-dropmenu-items > li .ui-icon
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -9px;
    margin-left: -9px;
}
